@import '@angular/material/prebuilt-themes/indigo-pink.css';
.container {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .form-field {
    width: calc(50% - 10px);
  }