<div class="container">
<form [formGroup]="UserForm" (ngSubmit)="onSubmit()" class="example-form">
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName" placeholder="Enter first firstName">
    <mat-error *ngIf="UserForm.controls['firstName'].touched && UserForm.controls['firstName'].hasError('required')">
      Name is required.
    </mat-error>
    <mat-error *ngIf="UserForm.controls['firstName'].touched && UserForm.controls['firstName'].hasError('minlength')">
      Name must be at least {{ UserForm.controls['firstName'].getError('minlength').requiredLength }} characters long.
    </mat-error>
    <mat-error *ngIf="UserForm.controls['firstName'].touched && UserForm.controls['firstName'].hasError('maxlength')">
      Name cannot exceed {{ UserForm.controls['firstName'].getError('maxlength').requiredLength }} characters.
    </mat-error>
    <mat-error *ngIf="UserForm.controls['firstName'].touched && UserForm.controls['firstName'].hasError('pattern')">
      Name must contain only alphabetic characters.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName" placeholder="Enter last lastName">
    <mat-error *ngIf="UserForm.controls['lastName'].touched && UserForm.controls['lastName'].hasError('required')">
      Name is required.
    </mat-error>
    <mat-error *ngIf="UserForm.controls['lastName'].touched && UserForm.controls['lastName'].hasError('minlength')">
      Name must be at least {{ UserForm.controls['lastName'].getError('minlength').requiredLength }} characters long.
    </mat-error>
    <mat-error *ngIf="UserForm.controls['lastName'].touched && UserForm.controls['lastName'].hasError('maxlength')">
      Name cannot exceed {{ UserForm.controls['lastName'].getError('maxlength').requiredLength }} characters.
    </mat-error>
    <mat-error *ngIf="UserForm.controls['lastName'].touched && UserForm.controls['lastName'].hasError('pattern')">
      Name must contain only alphabetic characters.
    </mat-error>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Identity</mat-label>
    <input matInput formControlName="identity" placeholder="Enter identity">
    
      <mat-error *ngIf="UserForm.controls['identity'].touched&&UserForm.controls['identity'].errors?.['required']">Identity is required.</mat-error>
      <mat-error *ngIf="UserForm.controls['identity'].touched&&UserForm.controls['identity'].errors?.['minlength']">Identity must be 9 characters long.</mat-error>
      <mat-error *ngIf="UserForm.controls['identity'].touched&&UserForm.controls['identity'].errors?.['maxlength']">Identity must be 9 characters long.</mat-error>
      <mat-error *ngIf="UserForm.controls['identity'].touched&&UserForm.controls['identity'].errors?.['pattern']">Identity must contain only numeric characters.</mat-error>
 
  </mat-form-field>

  <mat-form-field>
    <mat-label>City</mat-label>
    <input matInput formControlName="city" placeholder="Enter city">
    <mat-error *ngIf="UserForm.controls['city'].touched && UserForm.controls['city'].hasError('required')">
      city is required.
    </mat-error>
    <mat-error *ngIf="UserForm.controls['city'].touched && UserForm.controls['city'].hasError('minlength')">
      city must be at least {{ UserForm.controls['city'].getError('minlength').requiredLength }} characters long.
    </mat-error>
    <mat-error *ngIf="UserForm.controls['city'].touched && UserForm.controls['city'].hasError('maxlength')">
      city cannot exceed {{ UserForm.controls['city'].getError('maxlength').requiredLength }} characters.
    </mat-error>
    <mat-error *ngIf="UserForm.controls['city'].touched && UserForm.controls['city'].hasError('pattern')">
      city must contain only alphabetic characters.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Street</mat-label>
    <input matInput formControlName="street" placeholder="Enter street">
    <mat-error *ngIf="UserForm.controls['street'].touched && UserForm.controls['street'].hasError('required')">
      street is required.
    </mat-error>
    <mat-error *ngIf="UserForm.controls['street'].touched && UserForm.controls['street'].hasError('minlength')">
      street must be at least {{ UserForm.controls['street'].getError('minlength').requiredLength }} characters long.
    </mat-error>
    <mat-error *ngIf="UserForm.controls['street'].touched && UserForm.controls['street'].hasError('maxlength')">
      street cannot exceed {{ UserForm.controls['street'].getError('maxlength').requiredLength }} characters.
    </mat-error>
    <mat-error *ngIf="UserForm.controls['street'].touched && UserForm.controls['street'].hasError('pattern')">
      street must contain only alphabetic characters.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Number of Home</mat-label>
    <input matInput type="number" formControlName="numHome" placeholder="Enter number of home">
    <mat-error *ngIf="UserForm.controls['numHome'].invalid && UserForm.controls['numHome'].touched">
      Number of Home is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Birth Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="birthDate" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="UserForm.controls['birthDate'].invalid && UserForm.controls['birthDate'].touched">
      Birth Date is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Cell Phone</mat-label>
    <input matInput formControlName="cellPhone" placeholder="Enter cell phone">
    <mat-error *ngIf="UserForm.controls['cellPhone'].touched && UserForm.controls['cellPhone'].errors?.['required']">
      cellPhone is required.
    </mat-error>
    <mat-error *ngIf="UserForm.controls['cellPhone'].touched && UserForm.controls['cellPhone'].errors?.['pattern']">
      callPhone must be numeric.
    </mat-error>
    <mat-error *ngIf="UserForm.controls['cellPhone'].touched&&UserForm.controls['cellPhone'].errors?.['minlength']">cellPhone must be 9 characters min.</mat-error>

  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input matInput formControlName="phone" placeholder="Enter phone">
    <mat-error *ngIf="UserForm.controls['phone'].touched && UserForm.controls['phone'].errors?.['required']">
      Phone is required.
    </mat-error>
    <mat-error *ngIf="UserForm.controls['phone'].touched && UserForm.controls['phone'].errors?.['pattern']">
      Phone must be numeric.
    </mat-error>
    <mat-error *ngIf="UserForm.controls['phone'].touched&&UserForm.controls['phone'].errors?.['minlength']">phone must be 9 characters min.</mat-error>

  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Add Item</button>
</form>
</div>


<!-- <form [formGroup]="UserForm" (ngSubmit)="onSubmit()" class="example-form">
    <mat-form-field>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
        <mat-error *ngIf="UserForm.controls['firstName'].touched && UserForm.controls['firstName'].errors?.['required']">
          First Name is required.
        </mat-error>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
        <mat-error *ngIf="UserForm.controls['lastName'].touched && UserForm.controls['lastName'].errors?.['required']">
          Last Name is required.
        </mat-error>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Identity</mat-label>
        <input matInput formControlName="identity">
        <mat-error *ngIf="UserForm.controls['identity'].touched && UserForm.controls['identity'].errors?.['required']">
          Identity is required.
        </mat-error>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput formControlName="city">
        <mat-error *ngIf="UserForm.controls['city'].touched && UserForm.controls['city'].errors?.['required']">
          City is required.
        </mat-error>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Street</mat-label>
        <input matInput formControlName="street">
        <mat-error *ngIf="UserForm.controls['street'].touched && UserForm.controls['street'].errors?.['required']">
          Street is required.
        </mat-error>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Number of Home</mat-label>
        <input matInput formControlName="numHome">
        <mat-error *ngIf="UserForm.controls['numHome'].touched && UserForm.controls['numHome'].errors?.['required']">
          Number of Home is required.
        </mat-error>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Birth Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="UserForm.controls['birthDate'].touched && UserForm.controls['birthDate'].errors?.['required']">
          Birth Date is required.
        </mat-error>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Cell Phone</mat-label>
        <input matInput formControlName="cellPhone">
        <mat-error *ngIf="UserForm.controls['cellPhone'].touched && UserForm.controls['cellPhone'].errors?.['required']">
          Cell Phone is required.
        </mat-error>
        <mat-error *ngIf="UserForm.controls['cellPhone'].touched && UserForm.controls['cellPhone'].errors?.['pattern']">
          Cell Phone must be numeric.
        </mat-error>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" lastName="phone">
        <mat-error *ngIf="UserForm.controls['phone'].touched && UserForm.controls['phone'].errors?.['required']">
          Phone is required.
        </mat-error>
        <mat-error *ngIf="UserForm.controls['phone'].touched && UserForm.controls['phone'].errors?.['pattern']">
          Phone must be numeric.
        </mat-error>
      </mat-form-field>
    </mat-form-field>
  
  
    <button mat-raised-button color="primary" type="submit" [disabled]="UserForm.invalid">Submit</button>
  </form>
   -->
